
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;



    


}

header {
    display: flex;
    justify-content: flex-end;
    background: transparent;
    background-color:lavender width=100vh;
    align-items: center;
    padding: 25px 5%;
    
}
nav ul li{
    display: inline-block;
    padding: 0 10px;
}
nav ul li:hover {
    color: blanchedalmond;

}
header>button {
    border: none;
    outline: none;
    border-radius: 13px !important;
    padding: 9px 25px;
    background-color: tomato;
    padding: 3px;
    margin-bottom: 5px;
    margin-left: 20px;
}
#img {
    margin-right: auto;
    cursor: pointer;
    border-radius: 30px;
}
.ic{
    margin-right: 5px;
    
}
nav ul li a{
    color: black;
    transition: all 0.3 ease;
}
button:hover{
    background-color: rgb(223, 162, 152) cover;
    transform: scale(2);transition:500ms;transform;
}
.myph{
    border-radius: 70px;
    border: solid rgba(192, 192, 192, 0.384);
    margin-top: 50px;
    margin-left: 40px;
}
main h1{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.abtme{
    margin-left: 40px;
    margin-top: 10px;
    padding: 5px;
}
main ul li{
    display: inline-block;
}
#deg{
    margin-left: 10px;
}
.grad{
    margin-top: 10px;
    margin-left: 3px;
}
main ul li{
    background-color: aliceblue;
}
.content{
    background-color: mistyrose;
}
.bg{
    background-color: mistyrose;
}
div ul li{
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
}
.cont{
    margin-top: 15px !important;
    padding: 5px;
}
#foot{
    margin-top: 50px;
    text-align: center;
    margin-left: 40px;
}
.socio{
    margin-left: 10px;
    
}
footer ul li{
    margin-top: 20px;
}